# Ignore artifacts:
build
coverage

# Ignore CLA
contents*/cla.md

# Hugo default output directory
/.configs/public
/.configs/resources

# NPM
node_modules

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store