// Used in layout
$padding-1: 1px !default;
$padding-4: 0.25rem !default;
$padding-8: 0.5rem !default;
$padding-16: 1rem !default;
$padding-32: 2rem !default;


$as-1: 1px !default;
$as-xxs: 0.2rem !default;
$as-xs: 0.5rem !default;
$as-sm: 0.75rem !default;
$as-md: 1rem !default;
$as-lg: 2rem !default;
$as-xl: 3rem !default;

$font-size-base: 16px !default;
$font-size-12: 0.75rem !default;
$font-size-14: 0.875rem !default;
$font-size-16: 1rem !default;

$border-radius: $as-xs !default;

$body-font-weight: normal !default;

$body-min-width: 20rem !default;
$container-max-width: 78rem !default;

$header-height: 3.5rem !default;
$menu-width: 16rem !default;
$toc-width: 16rem !default;

$mobile-breakpoint: $menu-width + $body-min-width * 1.2 + $toc-width !default;


$navbar-item-height: $as-lg + $as-xs !default;

$hint-colors: (
  info: #6bf,
  warning: #fd6,
  danger: #f66,
) !default;

// Color
$color-primary: #15202b;
$color-secondary: #3E4C56;
$color-deep: #27323B;
$color-light: #D7E2ED;
$color-lightest: #F5F7FB;
$color-accent: #11A1F1;
$color-accent-lighter: #41B4F4;
$color-accent-deeper: #1184C5;
$color-accent-2: #20C5A0;
$color-accent-2-lighter: #36CAA9;
$color-accent-2-deeper: #179177;
$color-bg: #fbfafc;
$color-text: #000000;
$color-success: #1f2221;
$color-warning: #FF9500;
$color-error: #FF5949;
$color-info: #B1BAC1;
$color-green: #20C5A0;
$color-blue: #11A1F1;
$color-red: #FF5949;
$color-orange: #FF9500;

// Themes
@mixin theme-light {
  --body-background: white;
  --body-content: black;

  --color-accent: #{$color-accent};

  --color-link: #{$color-accent};
  --color-visited-link: #{$color-accent};

  --icon-filter: none;

  --hint-color-info: #6bf;
  --hint-color-warning: #fd6;
  --hint-color-danger: #f66;

  --highlight-neutral: black;
  --highlight-neutral-rgb: 22, 33, 44;

  --navbar-bg: white;

}

@mixin theme-dark {
  --body-background: black;
  --body-content: white;

  --color-link: #{$color-accent};
  --color-visited-link: #{$color-accent};

  --icon-filter: brightness(0) invert(1);

  --hint-color-info: #6bf;
  --hint-color-warning: #fd6;
  --hint-color-danger: #f66;

  --highlight-neutral: white;
  --highlight-neutral-rgb: 255, 255, 255;

  --navbar-bg: #{$color-primary};
}

.ar-sm {
  border-radius: $as-sm;
}
.ar-md {
  border-radius: $as-md;
}
.ar-lg {
  border-radius: $as-lg;
}
.ar-xl {
  border-radius: $as-xl;
}

.highlight-neutral {
  background-color: rgba(var(--highlight-neutral-rgb), 0.1);
  &:hover {
    background-color: rgba(var(--highlight-neutral-rgb), 0.1);
  }
}

.button-highlight-neutral {
  background-color: rgba(var(--highlight-neutral-rgb), 0);
  &:hover {
    background-color: rgba(var(--highlight-neutral-rgb), 0.1);
  }
}